.container-fluid{
    padding: 0px;
    margin: 0px;
}
.header{
    .navbar{
      padding: 0px 5px;
    }

    a{
      padding : 15px;
    }

    .bg-light{
      background-color: white !important;
    }

    .navbar a:hover {
      background: rgb(230, 225, 225);
    }
    img, .navbar-brand {
      padding: 0px !important;
      max-width: 100%;
    }

    .nav-link{
      color: black;
    }
}

.footer{

  background-color: black;
  color: white;
  padding: 30px;

  .col-md-6{
    width: 100%;
    display: table;
    table-layout: fixed;

      .link{
        display: table-cell;
        text-align: center;
        text-decoration: none;
        color: white;
      }
    }
   
}